<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - КМД помощник</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">КМД помощник</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="nav nav-pills">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-page="/#" role="button" aria-expanded="false">Болты</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="/#">Размещение болтов</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">Место под ключ</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">Расчёт болтов</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-page="/#" role="button" aria-expanded="false">Сварка</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="/#">Расчёт швов по СП</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">Расчёты швов по пособию к СП</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">Расчёт поясных швов</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-page="/#" role="button" aria-expanded="false">Расчёт узлов</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="/#">Узлы для балок</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">Узлы для связей</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">Стыковые узлы</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">Фланцевый узел</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-page="/#">База колонны</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-page="/#">Документация</a>
                        <li class="nav-item"><a class="nav-link" asp-page="/Privacy">О проекте</a>
                        <li class="nav-item"><a class="nav-link" asp-page="/Experiment">эксперименты</a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-3 border bg-light">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="border-top text-muted py-3 my-4 d-flex flex-wrap justify-content-end">
            &copy; 2022 - КМД помощник - <a asp-page="/Privacy">&nbspО проекте</a>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
